<div class="container">
  <div class="row">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>

    <p>
      <%= link_to 'prendre un rdv', new_appointment_path, class: 'btn btn-warning' %>
    </p>
  </div>
</div>
